<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" protection="All" timeout="30" />
    </authentication>
  </system.web>
  <location path="Default">
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="~/Account/Login" />
      </authentication>
    </system.web>
  </location>
</configuration>
